@import "tailwindcss";

body {
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

/* Estilos para la barra de navegación. */
.header {
    background-color: #111827; 
    width: 100%;
    height: 55px;
    padding: 0 0.45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    z-index: 100;
}

.header__logo {
    width: 184.5px;
    height: 49.05px;
}

.nav {
    position: absolute;
    background-color: #111827;
    height: 100vh; 
    top: 100%;
    left: 55%;
    width: 45%;
    box-shadow: -5px 0px 6px -3px rgba(0, 0, 0, .75);
    opacity: 0;
    visibility: hidden;
    transform: translateX(200px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem;
    gap: 0;
    border-radius: 8px;
    background-color: #111827;
}

.nav__link {
    display: block; 
    text-decoration: none;
    color: rgb(207, 189, 189);
    padding: .5rem; 
}

.nav__link:hover {
    background-color: #080c14;
    border-radius: 8px;
}

.header__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__bar {
    height: 3px;
    background-color: rgb(207, 189, 189); 
    border-radius: 8px;
}

/* Estilos para el hero. */

.hero {
    margin-top: 55px;
    background-image: url('./assets/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem;
    text-align: center;
}

.hero__title {
    color: white;
}

.hero__subtitle {
    color: white;
}

.hero__description {
    color: white;
    margin-top: 0.2rem;
    margin-bottom: 0.25rem;
}

.hero__links {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.hero__link--primary {
    padding: 0.5rem;
    color: white;
    background-color: #a81b17;
    border: 1px solid #771a17;
    border-radius: 8px;
}

.hero__link--secondary {
    padding: 0.5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 8px;
}

/* Estilos de los cards */
.card {
    background-color: #263746;
}

@media (width < 640px) {
    .card {
        width: 400px;
        margin: 0 auto;
    }    
}

.card__favbtn:hover {
    color: #83211E;
    cursor: pointer;
}

.card__precio {
    color: ghostwhite;
}
/*
.card__button {
    padding: 0.5rem;
    color: white;
    background-color: #83211E;
    border: 1px solid #771a17;
    border-radius: 8px;    
}*/
/*
.card__button {
    background-color: #83211E;
    border: 1px solid #771a17;    
}*/


.card__button {
    border-radius: 8px;      
}